

@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

body {
    
    --elements-bg-color: #215a4cab;
    --elements-bg-color-no-op: #215a4c;
    --nav-bg-color: whitesmoke;
    --nav-text-color: black;
    --shadow-color: #44d9b49f;
    --side-nav-bg-color: rgba(245, 245, 245, 0.85);
    --nav-font: "Yanone Kaffeesatz", sans-serif;
    --site-font: "Freeman", sans-serif;

    font-family: var(--site-font);
    font-weight: 400;
    font-style: normal;
}

/* Main site layout */
#app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(105,238,204,1)), color-stop(25%, rgba(68,217,179,1)), color-stop(50%, rgba(58,171,142,1)), color-stop(75%, rgba(65,161,137,1)), to(rgba(45,133,111,1)));
    background-image: -webkit-linear-gradient(0deg, rgba(105,238,204,1), rgba(68,217,179,1), rgba(58,171,142,1), rgba(65,161,137,1), rgba(45,133,111,1));
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(105,238,204,1)), color-stop(25%, rgba(68,217,179,1)), color-stop(50%, rgba(58,171,142,1)), color-stop(75%, rgba(65,161,137,1)), to(rgba(45,133,111,1)));
    background-image: -webkit-linear-gradient(left, rgba(105,238,204,1) 0%, rgba(68,217,179,1) 25%, rgba(58,171,142,1) 50%, rgba(65,161,137,1) 75%, rgba(45,133,111,1) 100%);
    background-image: -moz-linear-gradient(left, rgba(105,238,204,1) 0%, rgba(68,217,179,1) 25%, rgba(58,171,142,1) 50%, rgba(65,161,137,1) 75%, rgba(45,133,111,1) 100%);
    background-image: -o-linear-gradient(left, rgba(105,238,204,1) 0%, rgba(68,217,179,1) 25%, rgba(58,171,142,1) 50%, rgba(65,161,137,1) 75%, rgba(45,133,111,1) 100%);
    background-image: linear-gradient(90deg, rgba(105,238,204,1) 0%, rgba(68,217,179,1) 25%, rgba(58,171,142,1) 50%, rgba(65,161,137,1) 75%, rgba(45,133,111,1) 100%);
    -webkit-background-size: 200% 200%;
       -moz-background-size: 200% 200%;
         -o-background-size: 200% 200%;
            background-size: 200% 200%;
    -webkit-animation: AnimateBackground 150s ease infinite;
    -moz-animation: AnimateBackground 150s ease infinite;
      -o-animation: AnimateBackground 150s ease infinite;
         animation: AnimateBackground 150s ease infinite;   
}

/* Animations for background */
@-webkit-keyframes AnimateBackground {
    0% { background-position: top; }
    50% { background-position: bottom; }
    100% { background-position: top; }
}

@-moz-keyframes AnimateBackground {
    0% { background-position: top; }
    50% { background-position: bottom; }
    100% { background-position: top; }
}

@-o-keyframes AnimateBackground {
    0% { background-position: top; }
    50% { background-position: bottom; }
    100% { background-position: top; }
}

@keyframes AnimateBackground {
    0% { background-position: top; }
    50% { background-position: bottom; }
    100% { background-position: top; }
}

/* Header styles */
header {
    width: 100%; 
    position: fixed;
    top: 0; 
    left: 0;     
    background-color: var(--elements-bg-color);
    z-index: 10; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            align-items: center;
    -webkit-border-bottom-left-radius: 15px;
       -moz-border-radius-bottomleft: 15px;
            border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
       -moz-border-radius-bottomright: 15px;
            border-bottom-right-radius: 15px;
}

/* Header svg image style */
header img {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-filter: drop-shadow(0px 0px 10px var(--shadow-color));
    filter: drop-shadow(0px 0px 10px var(--shadow-color));
    height:50px;
}

/* Section headings */
h1 {
    font-size: 1.8em;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}


p#offline-alert {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



@layer homepage, sidenav, gameformular, game, aboutgame, leaderboard;

/* Section of styles for homepage - navigation styling. */
@layer homepage {

    /* Styling for whole section, set width and flexbox. */
    section#homepage {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                -webkit-flex-direction: column;
                   -moz-box-orient: vertical;
                   -moz-box-direction: normal;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                -webkit-justify-content: center;
                   -moz-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                align-items: center;
        
        position: fixed; 
        top: 120px; 
        background-color: var(--elements-bg-color);
        -webkit-border-radius: 15px;
           -moz-border-radius: 15px;
                border-radius: 15px;
        padding-top: 25px;
        
    }
    
    /* Style for navigation container. */
    section#homepage nav {  
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 200px;
        padding-right: 200px; 
 
    }
    
    /* Style for navigation list. */
    section#homepage nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    /* Style (position) for odd navigation bullets. */
    section#homepage nav ul li:nth-of-type(2n - 1) {
        margin-left: 0px;
        margin-top: -30px;
        margin-bottom: -20px;
    }
    
    /* Style (position) for even navigation bullets. */
    section#homepage nav ul li:nth-of-type(2n) {
        margin-left: 120px;
        margin-top: -30px;
        margin-bottom: -20px;
    }
    
    /* Style of navigation bullets - round, white. */
    section#homepage nav ul li a {
        background-color: var(--nav-bg-color);
        width: 120px;
        height: 120px;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                -webkit-justify-content: center;
                   -moz-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                align-items: center;
        text-align: center;
        padding: 0px;
        text-decoration: none;
        color: var(--nav-text-color);
        -webkit-transition: all 1s;
                -o-transition: all 1s;
                -moz-transition: all 1s;
                transition: all 1s;
        font-family: var(--nav-font);
        font-weight: 700;
        font-style: normal;
        font-size: 1.5em;
    }
    
    /* Hover for odd navigation bullets */
    section#homepage nav ul li:nth-of-type(2n - 1) a:hover {
        -webkit-transform: translate(-20px, 0px) scale(1.2);
            -ms-transform: translate(-20px, 0px) scale(1.2);
                -moz-transform: translate(-20px, 0px) scale(1.2);
                  -o-transform: translate(-20px, 0px) scale(1.2);
             transform: translate(-20px, 0px) scale(1.2);
        background-color: var(--nav-text-color); 
        color: var(--nav-bg-color);
    }
    
    /* Hover for even navigation bullets */
    section#homepage nav ul li:nth-of-type(2n) a:hover {
        -webkit-transform: translate(20px, 0px) scale(1.2);
            -ms-transform: translate(20px, 0px) scale(1.2);
                -moz-transform: translate(20px, 0px) scale(1.2);
                  -o-transform: translate(20px, 0px) scale(1.2);
             transform: translate(20px, 0px) scale(1.2);
        background-color: var(--nav-text-color); 
        color: var(--nav-bg-color);
    }
    
    /* Media query for screens smaller than 700px. */
    @media (max-width: 700px) {
        section#homepage nav {
            padding-left: 100px;
            padding-right: 100px;
        }
    }
    
    /* Media query for screens smaller than 500px. */
    @media (max-width: 500px) {
        section#homepage nav {
            padding-left: 50px;
            padding-right: 50px;
        }  
    }
    
    /* Media query for screens smaller than 400px. */
    @media (max-width: 400px) {
        section#homepage nav {
            padding-left: 20px;
            padding-right: 20px;
        }
        
        section#homepage nav ul li {
            margin: 5px 0;
            display: block;
            text-align: center;
        }
        
        section#homepage nav ul li:nth-of-type(2n) {
            margin-left: 0;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        section#homepage nav ul li:nth-of-type(2n - 1) {
            margin-left: 0;
            margin-top: 10px;
            margin-bottom: 5px;
        }   

        section#homepage h1 {
            -webkit-transform: scale(0.9);
               -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                 -o-transform: scale(0.9);
                    transform: scale(0.9);
        }
    }

    /* Media query for screens wider than 1000px and taller than 1000px. */
    @media (min-width: 1000px) and (min-height: 1000px) {
        section#homepage nav {
            padding-left: 300px;
            padding-right: 300px;
        }
        
        section#homepage nav ul li:nth-of-type(2n) {
            margin-left: 180px;
        }
        
        section#homepage nav ul li a {
            width: 200px;
            height: 200px;
            font-size: 2.5em;
        }
    }
}

/* Section of styles for side navigation. */
@layer sidenav {

    /* Style section */
    aside {
        position: fixed; 
        top: 120px; 
        left: 0; 
        width: 100px; 
        height: auto; 
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
                flex-direction: column;
        gap: 10px;
        z-index: 5;
    }
    
    /* Navigation container styles */
    aside nav {    
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
                flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
                align-items: center;
        width: 100%;
        background-color: var(--elements-bg-color);
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-border-top-right-radius: 15px;
           -moz-border-radius-topright: 15px;
                border-top-right-radius: 15px;
        -webkit-border-bottom-right-radius: 15px;
           -moz-border-radius-bottomright: 15px;
                border-bottom-right-radius: 15px;
    }
    
    /* Style for navigation list. */
    aside nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    /* Style for navigation list - not first item. */
    aside nav ul li:not(:first-of-type) {
        margin-left: 0px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    
    /* Style for navigation links. */
    aside nav ul li a {
        background-color: var(--side-nav-bg-color);
        width: 75px;
        height: 75px;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
                justify-content: center; 
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
                align-items: center;
        text-align: center;
        padding: 0px;
        text-decoration: none;
        color: var(--nav-text-color);
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
        font-family: var(--nav-font);
        font-weight: 700;
        font-style: normal;
        font-size: 1em;
    }

    /* Style for active navigation link. */
    aside nav ul li a.active {
        background-color: var(--nav-bg-color); 
        border: 3px solid var(--nav-text-color);
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
          -o-transform: scale(1.2);
             transform: scale(1.2);
    }
    
    /* Style for navigation link - hovered one. */
    aside nav ul li a:hover {
        -webkit-transform: translate(20px, 0px) scale(1.2);
        -ms-transform: translate(20px, 0px) scale(1.2);
        -moz-transform: translate(20px, 0px) scale(1.2);
          -o-transform: translate(20px, 0px) scale(1.2);
             transform: translate(20px, 0px) scale(1.2);
        background-color: var(--nav-text-color); 
        color: var(--nav-bg-color);
    }

    /* Hide checkbox for responsive view */
    aside input, aside #menu-label {
        display: none;
    }    

    /* Media query for screens smaller than 700px */
    @media (max-width: 730px) {

        aside nav {
            max-width: 0;
            overflow: hidden;
            -webkit-transition: max-width 0.6s ease-in-out;
            -o-transition: max-width 0.6s ease-in-out;
            -moz-transition: max-width 0.6s ease-in-out;
            transition: max-width 0.6s ease-in-out;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: -moz-box;
            display: flex; 
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                    flex-direction: column;
            background-color: var(--elements-bg-color-no-op);
            width: 200px;
        }

        input#menu-toggle:checked + label + nav {
            max-width: 200px; 
        }

        aside #menu-label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: -moz-box;
            display: flex;
            background-color: var(--elements-bg-color-no-op);
            padding: 10px;
            height: 100px;
            width: 30px;
            cursor: pointer;
            -webkit-border-top-right-radius: 15px;
               -moz-border-radius-topright: 15px;
                    border-top-right-radius: 15px;
            -webkit-border-bottom-right-radius: 15px;
               -moz-border-radius-bottomright: 15px;
                    border-bottom-right-radius: 15px;
            font-size: 2em;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                    justify-content: center; 
            margin-left: 0px;
            margin-bottom: 15px;
        }

        /* Pseudo-elements to show > and < */
        #menu-label::before {
            content: '>';
            -webkit-transition: content 0.5s ease-in-out;
            -o-transition: content 0.5s ease-in-out;
            -moz-transition: content 0.5s ease-in-out;
            transition: content 0.5s ease-in-out;
        }

        input#menu-toggle:checked + label::before {
            content: '<';
            -webkit-transition: content 0.5s ease-in-out;
            -o-transition: content 0.5s ease-in-out;
            -moz-transition: content 0.5s ease-in-out;
            transition: content 0.5s ease-in-out;
        }
    }

    /* Media query for screens wider than 1400px and taller than 1400px. */
    @media (min-width: 1400px) and (min-height: 1400px) {
        aside {
            -webkit-transform-origin: top left;
            -moz-transform-origin: top left;
            -ms-transform-origin: top left;
            -o-transform-origin: top left;
            transform-origin: top left;
            -webkit-transform: scale(1.5);
               -moz-transform: scale(1.5);
                -ms-transform: scale(1.5);
                 -o-transform: scale(1.5);
                    transform: scale(1.5);
        }
    }

}

/* Section of styles for pregame formulars. */
@layer gameformular {

    /* Main section/container styling */
    section#pregame-formular {
        width: 600px;
        background-color: var(--elements-bg-color);
        -webkit-border-radius: 15px;
           -moz-border-radius: 15px;
                border-radius: 15px;
        padding: 30px;
        text-align: justify;

        max-height: 80%;
        height: 75%; 
        min-height: 50%;
        
        position: fixed; 
        top: 120px;  
    
    }

    /* Formular position */
    section#pregame-formular form {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -moz-box;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
                flex-direction: column;
        -webkit-align-items: center;
        -ms-align-items: center;
        -webkit-box-align: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 75px;
    }

    /* Submit button style */
    section#pregame-formular input[type=submit] {
        width: 150px;
        height: 30px;
        font-family: "Freeman", sans-serif;
        font-weight: 400;
        font-style: normal;
        background-color: whitesmoke;
        border: solid black 2px;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
        margin: 20px;

    }

    /* Submit button style hovered */
    section#pregame-formular input[type=submit]:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
             transform: scale(1.1);
        background-color: black;
        border: solid whitesmoke 2px;
        color: whitesmoke;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
    }

    /* Inputs - text and select */
    section#pregame-formular input[type=text],
    section#pregame-formular select {
        font-family: var(--site-font);
        font-weight: 400;
        font-style: normal;
        background-color: var(--nav-bg-color);
        border: solid var(--nav-text-color) 2px;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
        padding-left: 10px;
        padding-right: 10px;
        margin: 5px 20px 20px;
    }

    /* Input - only text */
    section#pregame-formular input[type=text] {
        width: 180px;
        height: 30px;
    }

    /* Input - only select */
    section#pregame-formular select {
        width: 200px;
        height: 32px;
    }

    /* Inputs - text and select focus */
    section#pregame-formular input[type=text]:focus,
    section#pregame-formular select:focus {
        outline: none;
        border: 3px solid var(--shadow-color);
        -webkit-filter: drop-shadow(0px 0px 5px var(--shadow-color));
        filter: drop-shadow(0px 0px 5px var(--shadow-color));
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
        -webkit-transition: none;
        -o-transition: none;
        -moz-transition: none;
        transition: none;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
    }

    /* Label for checkbox - text */
    #show-help-label {
        width: 50px;
        height: 25px;
        -webkit-border-radius: 30px;
           -moz-border-radius: 30px;
                border-radius: 30px;
        background: #215a4c;
        display: block;
        cursor: pointer;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        margin: 10px 20px 10px;
    }

    /* Check box label - graphics */
    #show-help-label::before {
        content: "";
        display: block;
        width: 29px;
        height: 29px;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        background: black;
        margin-top: -2px;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    /* Hide actual checkbox */
    section#pregame-formular input[type=checkbox] {
        display: none;
        margin: 0px;
    }

    /* Checkbox graphics - movement */
    section#pregame-formular input[type=checkbox]:checked+#show-help-label::before {
        -webkit-transform: translateX(80%);
        -ms-transform: translateX(80%);
        -moz-transform: translateX(80%);
          -o-transform: translateX(80%);
             transform: translateX(80%);
        background: whitesmoke;
    }

    /* Checkbox graphics */
    section#pregame-formular input[type=checkbox]:checked+#show-help-label {
        background: #41a189;
    }

    /* Text for checkbox */
    #show-help-label::after {
        content: "Ne";
        display: block;
        margin-top: -25px;
        margin-left: 60px;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    /* Checkbox text - checked */
    section#pregame-formular input[type=checkbox]:checked+#show-help-label::after {
        content: "Ano";
    }

    /* Radio input - hide */
    section#pregame-formular input[type=radio] {
        display: none;
    }

    /* Radio inputs graphics */
    section#pregame-formular input[type="radio"] + label::before {
        content: "\200B";
        color: #00000000;
        display: inline-block;
        width: 20px; 
        height: 20px; 
        border: 2px solid #000; 
        -webkit-border-radius: 50%; 
           -moz-border-radius: 50%; 
                border-radius: 50%;
        margin-right: 10px;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        padding: 0;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    /* Radio inputs graphics - checked */
    section#pregame-formular input[type="radio"]:checked + label::before {
        background-color: whitesmoke;
        border-color: whitesmoke;
        color: black;
        content: "✔";
    }

    /* Radio inputs labels */
    section#pregame-formular label[for^="start_"] {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
    }

    /* Wrapper for radio inputs */
    #game-init-first-player {
        margin: 5px 20px 20px;
    }

    /* Mandatory input graphics */
    section#pregame-formular .mandatory {
        color: red;
    }

    /* Media query for screens wider than 1000px. */
    @media (min-width: 1000px) {
        section#pregame-formular {
            min-width: 700px;
            width: 50%;
        }
    }

    /* Media query for screens smaller than 870px */
    @media (max-width: 870px) {
        section#pregame-formular {
            min-width: 350px;
            width: 50%;
        }
    }

    /* Media query for screens wider (height) than 1000px */
    @media (min-height: 1000px) {
        section#pregame-formular {
            max-height: 80%;
            height: 80%;
        }
    }

    /* Media query for screens smaller (height) than 750px */
    @media (max-height: 750px) {
        section#pregame-formular {
            height: 420px;
        }

        section#pregame-formular form {
            margin-top: 5px;
        }

        h1 {
            -webkit-transform: scale(0.8);
               -moz-transform: scale(0.8);
                -ms-transform: scale(0.8);
                 -o-transform: scale(0.8);
                    transform: scale(0.8); 
            margin-top: 0px;
        }
    }


}

/* Section of styles for game and gameboard. */
@layer game {
    
    /* Main section/container styling */
    section#game-panel {
        min-width: 430px;
    
        display: -webkit-box;     
        display: -ms-flexbox;      
        display: -webkit-flex;      
        display: -moz-box;      
        display: flex;
        -webkit-box-pack: flex-start;  
        -ms-flex-pack: flex-start;     
        -webkit-justify-content: flex-start;     
           -moz-box-pack: start;     
                justify-content: flex-start;
        -webkit-box-align: center; 
        -ms-flex-align: center;   
        -webkit-align-items: center;   
           -moz-box-align: center;   
                align-items: center;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
                flex-direction: column;
        gap: 0px;
    
        position: fixed;
        top: 120px;
    
        width: 600px;
    
        background-color: var(--elements-bg-color);
        -webkit-border-radius: 15px;
           -moz-border-radius: 15px;
                border-radius: 15px;
        padding: 15px;
        text-align: justify;
    
        max-height: 80%;
        height: 75%;
        min-height: 50%;
    }
    
    /* Styles for canvas */
    section#game-panel canvas {
        padding-top: 15px;
    }

    /* Media query for screens greater than 1000px */
    @media (min-width: 1000px) {
        section#game-panel {
            min-width: 700px;
            width: 50%;
        }
    }
    
    /* Media query for screens smaller than 870px */
    @media (max-width: 870px) {
        section#game-panel {
            min-width: 475px;
            width: 50%;
        }

        section#game-panel section#game-info {
            font-size: 0.8em;
        }
    }
    
    /* Media query for screens wider (height) than 1000px */
    @media (min-height: 1000px) {
        section#game-panel {
            max-height: 80%;
            height: 80%;
        }
    }

    /* Media query for screens smaller (height) than 915px */
    @media (max-height: 915px) {

        section#game-panel h1 {
            padding-top: 0px;
            margin-top: 0px;
        }
    }

    /* Media query for screens smaller (height) than 875px */
    @media (max-height: 875px) {


    
        section#game-panel {
            max-height: 70%;
            height: 70%;
            -webkit-box-pack: start;   
            -ms-flex-pack: start;       
            -webkit-justify-content: flex-start;       
               -moz-box-pack: start;       
                    justify-content: flex-start;
            padding: 0px 30px;
            min-height: 500px;
        }
        section#game-panel h1 {
            margin:0px;
            bottom:0px;
            
        }

        section#game-panel canvas {
            margin:0px;
            bottom:0px;
            
        }

        section#game-panel section#game-info {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
               -moz-box-orient: horizontal;
               -moz-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
            gap: 20px;
        }
    }
    

    /* Styles for game info */
    section#game-info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap:0;
        margin-top:10px;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
           -moz-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        
    }

    section#game-info > * {
        margin: 0px;
    }

    /* Styles for end screen of game */
    section#end-screen {

        background-color: var(--elements-bg-color-no-op);
        width: 300px;
        padding: 15px;
        -webkit-border-radius: 15px;
           -moz-border-radius: 15px;
                border-radius: 15px;
        -webkit-filter: drop-shadow(0px 0px 10px var(--shadow-color));
                filter: drop-shadow(0px 0px 10px var(--shadow-color));
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
           -moz-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* End screen links */
    section#end-screen a {
        color: var(--nav-text-color);
        text-decoration: none;
        padding: 10px;
        -webkit-border-radius: 20px;
           -moz-border-radius: 20px;
                border-radius: 20px;
        background-color: var(--nav-bg-color);
        margin-bottom: 15px;
    }

    /* End screen p */
    section#end-screen p#add-inf {
        margin-bottom:0px;
        margin-top: 0px;
        font-size: 1.1em;
    }

    /* End screen audio */
    section#end-screen audio {
        display: none;
    }
    
}

/* Section of styles for article about game. */
@layer aboutgame {

    /* Main section/container styling */
    section#about-game {
        width: 600px;

        background-color: var(--elements-bg-color);
        -webkit-border-radius: 15px;
           -moz-border-radius: 15px;
                border-radius: 15px;
        padding: 30px;
        text-align: justify;

        max-height: 80%;
        height: 75%; 
        min-height: 50%;
        
        position: fixed; 
        top: 120px;  
    
    }

    /* Article styling. */
    section#about-game article {
        height: 100%;
        overflow: auto;
        scrollbar-width: none;
    }

    /* Heading 2 */
    section#about-game h2 {
        font-size: 2em;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    /* Heading 3 */
    section#about-game h3 {
        font-size: 1.5em;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    /* Text (or something else) after heading 3 */
    section#about-game h3 + * {
        padding-top: 0;
        margin-top: 10px;
    }

    /* Figure - styling for svg picture. */
    section#about-game figure {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
    }

    /* Caption for figure */
    section#about-game figcaption {
        margin-top: 10px;
        font-style: italic;
    }

    /* Media query for screens wider than 1000px. */
    @media (min-width: 1000px) {
        section#about-game {
            min-width: 700px;
            width: 50%;
        }
    }

    /* Media query for screens smaller than 870px */
    @media (max-width: 870px) {
        section#about-game {
            min-width: 350px;
            width: 50%;
        }
    }

    /* Media query for screens wider (height) than 1000px */
    @media (min-height: 1000px) {
        section#about-game {
            max-height: 80%;
            height: 80%;
        }
    }

    /* Media query for screens smaller (height) than 725px */
    @media (max-height: 725px) {
        section#about-game {
            max-height: 60%;
            height: 60%;
            min-height: 420px;
        }
    }

   
}

/* Section of styles for leaderboard. */
@layer leaderboard {
    
    /* Main section/container styling */
    section#leaders-panel {
        min-width: 430px;
    
        display: -webkit-box;     
        display: -ms-flexbox;      
        display: -webkit-flex;      
        display: -moz-box;      
        display: flex;
        -webkit-box-pack: flex-start;  
        -ms-flex-pack: flex-start;     
        -webkit-justify-content: flex-start;     
           -moz-box-pack: start;     
                justify-content: flex-start;
        -webkit-box-align: center; 
        -ms-flex-align: center;   
        -webkit-align-items: center;   
           -moz-box-align: center;   
                align-items: center;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
                flex-direction: column;
        gap: 0px;
    
        position: fixed;
        top: 120px;
    
        width: 600px;
    
        background-color: var(--elements-bg-color);
        -webkit-border-radius: 15px;
           -moz-border-radius: 15px;
                border-radius: 15px;
        padding: 30px;
        text-align: justify;
    
        max-height: 80%;
        height: 75%;
        min-height: 50%;
        gap: 15px;
    }
    
 

    /* Media query for screens greater than 1000px */
    @media (min-width: 1000px) {
        section#leaders-panel {
            min-width: 700px;
            width: 50%;
        }
    }
    
    /* Media query for screens smaller than 870px */
    @media (max-width: 870px) {
        section#leaders-panel {
            min-width: 350px;
            width: 50%;
        }
    
        svg {
            -webkit-transform: scale(0.7); 
            -ms-transform: scale(0.7);     
            -moz-transform: scale(0.7);     
              -o-transform: scale(0.7);     
                 transform: scale(0.7);
        }
    }
    
    /* Media query for screens wider (height) than 1000px */
    @media (min-height: 1000px) {
        section#leaders-panel {
            max-height: 80%;
            height: 80%;
        }
    }
    
    /* Media query for screens smaller (height) than 775px */
    @media (max-height: 775px) {
        svg {
            -webkit-transform-origin: top;
            -moz-transform-origin: top;
            -ms-transform-origin: top;
            -o-transform-origin: top;
            transform-origin: top;
            -webkit-transform: scale(0.8); 
            -ms-transform: scale(0.8);    
            -moz-transform: scale(0.8);    
              -o-transform: scale(0.8);    
                 transform: scale(0.8);
        }
    }
    
    /* Media query for screens smaller (height) than 725px */
    @media (max-height: 725px) {
        section#leaders-panel {
            max-height: 70%;
            height: 70%;
            -webkit-box-pack: start;   
            -ms-flex-pack: start;       
            -webkit-justify-content: flex-start;       
               -moz-box-pack: start;       
                    justify-content: flex-start;
        }
    }
    
    /* Media query for screens smaller (height) than 650px */
    @media (max-height: 650px) {
        section#leaders-panel {
            max-height: 65%;
            height: 65%;
            min-height: 420px;
            -webkit-box-pack: start;   
            -ms-flex-pack: start;       
            -webkit-justify-content: flex-start;       
               -moz-box-pack: start;       
                    justify-content: flex-start;
            gap: 0px;
        }

        svg {
            -webkit-transform: scale(0.7);
            -ms-transform: scale(0.7);   
            -moz-transform: scale(0.7);   
              -o-transform: scale(0.7);   
                 transform: scale(0.7);
        }

        
    }  

}

@layer fullscreen-button {
    #toggleFullscreenButton {
        font-family: var(--nav-font);
        font-size: 1.3em;
        font-weight: 700;
        border: 0;
        padding: 10px;
        padding-top: 15px;
     
        cursor: pointer;
        outline: none;
        background-color: var(--elements-bg-color);
        -webkit-border-bottom-right-radius: 15px;
           -moz-border-radius-bottomright: 15px;
                border-bottom-right-radius: 15px;
        -webkit-border-top-right-radius: 15px;
           -moz-border-radius-topright: 15px;
                border-top-right-radius: 15px;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        color: var(--nav-text-color);
    }

    #toggleFullscreenButton:hover {
        background-color: var(--elements-bg-color-no-op);
        color: var(--nav-bg-color);
    }
    
    
}